.person{
    width: 45%;
    height: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 5%;
}
.options{
    margin-top: 20%;
}
.link{
    text-decoration: none;
    color: black;
}
ion-title{
    background-color: #989aa2;
    color: white;
}

