<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
  <ion-item>
    <ion-label align="center" style = "letter-spacing: 28px">FÁBRICA</ion-label>
  </ion-item>
  <ion-item>
    <ion-label align="center" style = "letter-spacing: 28px">DO</ion-label>
  </ion-item>
  <ion-item>
    <ion-label align="center" style = "letter-spacing: 28px">FUTURO</ion-label>
  </ion-item>

  <ion-item>
  	<ion-text style="margin-top: 8%; margin-bottom: 12%;">
  		<h4 align="center"> Quem Somos?</h4>
  		<br>
  	A Fábrica do Futuro é um ecossistema que reúne e potencializa iniciativas inovadoras. Um conceito que transcende noções de empresas privadas convencionais e propõe uma mentalidade global em suas práticas. Um lugar onde a arte se reúne para a mudança global, um ponto de encontro para empresas com propósito e potencial para inovar.
  	
  
  </ion-text>
</ion-item>
  <ion-item>
  <ion-text style="margin-top: 8%; margin-bottom: 12%;">
  	<h4 align="center">O que oferecemos?</h4>
  	<br>
  	Mais do que locais de trabalho, iniciativas educacionais e culturais, oferecemos uma experiência única para o desenvolvimento de pessoas, idéias e negócios inovadores por meio de um ecossistema composto por empresas e empreendedores de várias áreas, estabelecendo parcerias e recebendo feedback diretamente daqueles que fazem tudo isso acontecer. Não acreditamos em ambientes de trabalho passivos. O foco é elevar os sentidos dos habitantes de Fábrica através de uma lente global, incluindo arte, cultura e aprendizado contínuo, oferecendo todas as conveniências para uma rotina de trabalho positiva e próspera.
  </ion-text>
  </ion-item>
  <ion-item>
  	<ion-text style="margin-top: 8%; margin-bottom: 12%;">
  		<h4 align="center">Vantagens de habitar a Fábrica</h4>
  		<br>
  		É oferecida energia elétrica e com cafeína, bem como uma conexão rápida à Internet e ar-condicionado
  		<br><br>
Salas de reuniões, um auditório e um espaço de recepção à sua disposição com segurança 24/7 no local
		<br><br>
Despensa, espaço zen, vestiário com chuveiros, jardim que aceita animais de estimação
		<br><br>
Bicicletário e armários individuais também estão disponíveis para todos os nossos habitantes
		<br><br>
Oportunidades de networking, experiências únicas e eventos incríveis acontecem aqui diariamente
  	</ion-text>
  </ion-item>

  <ion-item>
  	<ion-icon name="pin"></ion-icon>
  	<ion-label align="left" style="margin-left:8px">Câncio Gomes, 609 - Floresta</ion-label>
  </ion-item>
  <ion-item>
  	<ion-icon name="call"></ion-icon>
  	<ion-label align="left" style="margin-left:8px">51 3279-3762 / 51 98010-1059</ion-label>
  </ion-item>
