ion-icon{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
ion-title{
    background-color: #989aa2;
    color: white;
    z-index: -2;
}
ion-button{
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    margin-top: 60%;
    font-size: 18px;
    font-weight: bold;
}
.shadow-red{
    --border-radius: 5px;
    --box-shadow: 0px 14px 25px rgba(93, 93, 93, 0.59);
    text-decoration: none;
    color: white;
}
