<ion-header>
  <ion-toolbar>
    <a [routerLink]="'/tabs/tabs/perfil'" routerDirection="back">
      <ion-icon name="arrow-round-back" style="z-index: 1000;"></ion-icon>
      </a>
    <ion-title>Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br><br>
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input type="text" value="Guilherme Ribeiro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input type="email" value="guigiovane72@gmail.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input type="password" value="gui22/08/14"></ion-input>
  </ion-item>
  <a [routerLink]="'/tabs/tabs/perfil'">
    <ion-button expand="block" (click)="showAlert()" class="shadow-red"  color="tertiary">Salvar!</ion-button>
    </a>
  

</ion-content>
